<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="mb-4">New Entry for <%= @place.name %></h1>

    <%= form_with model: [@place, @entry], local: true do |f| %>
      <%= f.hidden_field :place_id, value: @place.id %>

      <div class="mb-3">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", rows: 5 %>
      </div>

      <div class="mb-3">
        <%= f.label :occurred_on %>
        <%= f.date_field :occurred_on, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control", accept: "image/*" %>
      </div>

      <%= f.submit "Add Entry", class: "btn btn-primary" %>
    <% end %>

    <%= link_to "Back", place_path(@place), class: "btn btn-secondary mt-2" %>
  </div>
</div>
